@use '$lib/scss/base/root';

@use '$lib/scss/base/code';
@use '$lib/scss/base/toc';
@use '$lib/scss/base/typography';
@use '$lib/scss/base/visually-hidden';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	font-size: clamp(1rem, calc(1rem + ((1vw - 7.68px) * 0.3165)), 1.125rem);
	margin: 0;
}

h1 {
	font-size: clamp(3rem, calc(3rem + ((1vw - 7.68px) * 2.5316)), 4rem);
	font-weight: 100;
}

h2 {
	font-size: clamp(1.75rem, calc(1.75rem + ((1vw - 7.68px) * 1.8987)), 2.5rem);
	font-weight: 300;
}

h3 {
	font-size: clamp(1.5rem, calc(1.5rem + ((1vw - 7.68px) * 1.2658)), 2rem);
	font-weight: 400;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: var(--border);
	padding: 1rem;
	text-align: left;
}

th {
	background-color: var(--secondary-bg-color);
}

td:first-child {
	word-break: break-all;
}

td:not(:first-child) {
	word-break: break-word;
}

a:not([class]) {
	@include make-link();
}
